@if(stepNumber===1)
{
    <section class="Verify Email">
        <h1 class="h2 text-main">Verify Email</h1>
    <form [formGroup]="VerifyEmail" (ngSubmit)="SubmitVerifyEmail()">
       
        <div class="my-2">
            <label for="email" > Email</label>
            <input id ="email" type="email" class="form-control"formControlName="email"
            [ngClass]="
            {
                'is-valid':!VerifyEmail.get('email')?.errors  && (VerifyEmail.get('email')?.touched || VerifyEmail.get('email')?.dirty),
                'is-invalid':VerifyEmail.get('email')?.errors  && (VerifyEmail.get('email')?.touched || VerifyEmail.get('email')?.dirty)
            }"/>
            @if (VerifyEmail.get('email')?.errors  && (VerifyEmail.get('email')?.touched || VerifyEmail.get('email')?.dirty)) 
            {
                <div class="alert alert-danger w-25 mt-3 border-1 border-danger bg-body-tertiary">
                @if(VerifyEmail.get('email')?.getError('required'))
                {
                        <p class="m-0 text-danger"> email is required !</p>
                }
                @else if(VerifyEmail.get('email')?.getError('email'))
                {
                        <p class="m-0 text-danger"> please enter valid email address!</p>
                }
              
            </div>
                
            }
        </div>
       
        
      
        
        @if (msgerror)
        {
            <div class="alert alert-danger w-25 mt-3 border-1 border-danger bg-body-tertiary d-block mt-0">
                <p>{{msgerror}}</p>
            </div>
        }
       
            <button [disabled]="VerifyEmail.invalid " class="btn-main d-block ms-auto mt-4" type="submit">
                @if (isloading) {<span><i class="fas fa-spin fa-spinner"></i></span>}
           
                Verify Email
                </button>
               
              
        
    </form>
    </section>
    
}
@else if (stepNumber===2) {
    <section class="Verify Code">
        <h1 class="h2 text-main">Verify Code</h1>
        <form [formGroup]="VerifyCode" (ngSubmit)="SubmitVerifyCode()">
           
            <div class="my-2">
                <label for="email" > Code</label>
                <input id ="email" type="email" class="form-control"formControlName="resetCode"
                [ngClass]="
                {
                    'is-valid':!VerifyCode.get('resetCode')?.errors  && (VerifyCode.get('resetCode')?.touched || VerifyCode.get('resetCode')?.dirty),
                    'is-invalid':VerifyCode.get('resetCode')?.errors  && (VerifyCode.get('resetCode')?.touched || VerifyCode.get('resetCode')?.dirty)
                }"/>
                @if (VerifyCode.get('resetCode')?.errors  && (VerifyCode.get('resetCode')?.touched || VerifyCode.get('resetCode')?.dirty)) 
                {
                    <div class="alert alert-danger w-25 mt-3 border-1 border-danger bg-body-tertiary">
                    @if(VerifyCode.get('resetCode')?.getError('required'))
                    {
                            <p class="m-0 text-danger"> email is required !</p>
                    }
                    @else if(VerifyCode.get('resetCode')?.getError('pattern'))
                    {
                            <p class="m-0 text-danger"> please enter valid Code !</p>
                    }
                  
                </div>
                    
                }
            </div>
           
            
            @if (msgerror)
        {
            <div class="alert alert-danger w-25 mt-3 border-1 border-danger bg-body-tertiary d-block mt-0">
                <p>{{msgerror}}</p>
            </div>
        }
            
           
           
                <button [disabled]="VerifyCode.invalid " class="btn-main d-block ms-auto mt-4" >
                    @if (isloading) {<span><i class="fas fa-spin fa-spinner"></i></span>}
                    Verify Email
                    </button>
                   
                  
            
        </form>
    </section>
}

@else if(stepNumber===3)
{
    <section class= "Reset Password">
        <h1 class="h2 text-main">Reset PAssword</h1>
        <form [formGroup]="UpdatePassword"(ngSubmit)="SubmitUpdatePassword()">
           
            <div class="my-2">
                
                <input id ="email" readonly hidden type="email" class="form-control"formControlName="email"/>
                
            </div>
           
            <div class="my-2">
                <label for="newPassword" >  New Password</label>
                <input id ="newPassword" type="newPassword" class="form-control"formControlName="newPassword"
                [ngClass]="
                {
                    'is-valid':!UpdatePassword.get('newPassword')?.errors  && (UpdatePassword.get('newPassword')?.touched || UpdatePassword.get('newPassword')?.dirty),
                    'is-invalid':UpdatePassword.get('newPassword')?.errors  && (UpdatePassword.get('newPassword')?.touched || UpdatePassword.get('newPassword')?.dirty)
                }"/>
                @if (UpdatePassword.get('newPassword')?.errors  && (UpdatePassword.get('newPassword')?.touched || UpdatePassword.get('newPassword')?.dirty)) 
                {
                    <div class="alert alert-danger w-25 mt-3 border-1 border-danger bg-body-tertiary">
                    @if(UpdatePassword.get('newPassword')?.getError('required'))
                    {
                            <p class="m-0 text-danger"> password is required !</p>
                    }
                    @else if(UpdatePassword.get('newPassword')?.getError('pattern'))
                    {
                            <p class="m-0 text-danger"> password must be at least 6 charchters </p>
                    }
                  
                </div>
                    
                }
            </div>
          
               
            @if (msgerror)
        {
            <div class="alert alert-danger w-25 mt-3 border-1 border-danger bg-body-tertiary d-block mt-0">
                <p>{{msgerror}}</p>
            </div>
        }
            
           
            
                <button [disabled]="UpdatePassword.invalid" class="btn-main d-block ms-auto mt-4" type="submit">
                    @if (isloading) {<span><i class="fas fa-spin fa-spinner"></i></span>}
                    Save 
                 </button>
            
                  
                    
                    
           
            
            
        </form>
    </section>
}

